<h1>Photo news</h1>
<div class="container">
  <div class="row">
    <div class="col-4 sm">
      <h3>News 1</h3>
      <p>Photo</p>
    </div>
    <div class="col-4 sm">
      <h3>News 2</h3>
      <p>Photo</p>
    </div>
    <div class="col-4 sm">
      <h3>News 3</h3>
      <p>Photo</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 sm">
      <h3>News 4</h3>
      <p>Photo </p>
    </div>
    <div class="col-6 sm">
      <h3>News 5</h3>
      <p>Photo</p>
    </div>
  </div>
</div>

