<div class="mainNew">
  <h1>This is the main container to show news</h1>
  <form>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Enter news</label>
      <textarea class="form-control" type="string" name=message id="exampleFormControlTextarea1" rows="3" placeholder="Enter less than 500 words"></textarea>
    </div>
    <button (click)="sendData(message)" class="btn btn-primary">Save</button>
  </form>

  <h1>Photo news</h1>
  <div class="container">
    <div class="row">
      <div class="col-4 sm">
        <h3>News 1</h3>
        <p>Text With picture</p>
      </div>
      <div class="col-4 sm">
        <h3>News 2</h3>
        <p>Text With picture</p>
      </div>
      <div class="col-4 sm">
        <h3>News 3</h3>
        <p>Text With picture</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 sm">
        <h3>News 4</h3>
        <p>Text With picture</p>
      </div>
      <div class="col-6 sm">
        <h3>News 5</h3>
        <p>Text With picture</p>
      </div>
    </div>
  </div>


</div>

